# Project specific
uploads/
static/podcasts/*
!static/podcasts/.gitkeep
!static/pdf_references/
static/pdf_references/*
!static/pdf_references/.gitkeep
!references/
!references/*.pdf
*.log
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Large files
vector_store/embeddings.csv
!vector_store/embeddings_chunks/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
